<div class = "text-center">
    <h1>Purchase history</h1>
    <hr>
    
    <table id = "example" class="table table-light table-bordered" style="width:100%; padding: 0.5rem;">
        <thead class = "table-dark">
            <tr>
                <th>Item</th>
                <th>Seller</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            <% @history.each do |his| %>
            <% item_name = Item.where(id: his.item_id).first.name%>
            <% seller_name = User.where(id: his.seller_id).first.name%>
            <tr>
                <td><%=item_name%></td>
                <td><%=seller_name%></td>
                <td><%=his.price%></td>
                <td><%=his.quantity%></td>
                <td><%=his.created_at%></td>
            </tr>
            <%end%>
        </tbody>
    </table>
    <%= link_to "back to main" , main_path , class: "btn btn-primary mb-3"%>
</div>

<script type="text/javascript" class="init">
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
