<div class = "text-center">
    <div class = "h1">Change Password</div>
    <hr>
    <%= form_with url: newpassword_path , method: :post , data: {turbo: false} do |f| %>

    <div style = "width:60%;" class = "mx-auto mb-3">
        <%= f.label :password, "current password", class: "form-label"%>
        <%= f.password_field :password, class: "form-control"%>
    </div>
    <div style = "width:60%;" class = "mx-auto mb-3">
        <%= f.label :newPassword, "new password", class: "form-label"%>
        <%= f.password_field :newPassword, class: "form-control"%>
    </div>
    <div style = "width:60%;" class = "mx-auto mb-3">
        <%= f.label :confirmPassword, "confirm new password", class: "form-label"%>
        <%= f.password_field :confirmPassword, class: "form-control"%>
    </div>
    <div>
        <%= f.submit :confirm , class: "btn btn-success"%> |
        <%= link_to "Back to home", main_path , class: "btn btn-primary"%> 
    </div>

    <%end%>
</div>