<p style="color: green"><%= notice %></p>
<div class = "text-center h1">Item</div>
<hr>
<div class = "text-center mt-3">
  <%= render @item %>
<div>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) , class: "btn btn-warning"%> |
  <%= link_to "Back to items", items_path , class: "btn btn-primary"%>

  <%= button_to "Destroy this item", @item, method: :delete, class: "btn btn-danger mt-2" %>
</div>
